<div class="container jumbotron">
  <div class="p-5 mb-4 rounded-3">
      <div class="container-fluid py-5">
        <h1 class="fw-bold">YelpDemo is the best way to find reviews on local restaurants.</h1>
        <p class="col-md-8 fs-4"> Explore the favorite diners, pastry shops, and eateries in your community.
          Leave a reviews and ratings for your fellow foodies.
         </p>
        <button class="btn btn-primary btn-lg" type="button">Example button</button>
      </div>
    </div>
</div>